.block-pwp-daily {
  padding: 0 !important;
  overflow: hidden;
}

.block-pwp-daily h2 {
  z-index: 100;
}

.dailyGame__content {
  text-align: center;
  padding: 25px;
}

.dailyGameRoot h3.big.red {
  text-align: center;
  width: 100%;
  font-size: 26px;
  font-weight: bold;
}

.dailyGameIntro__content div.button {
  float: none;
  width: auto;
  margin: 10px auto;
  text-align: center;
  display: inline-block;
}

.dailyGameMatchTitle {
  margin: 0;
  font-size: 20px;
  /* color: #fff; */
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px;
  /* background-color: #070f3a;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px; */
  text-align: center;
}

.dailyGameProgress {
  position: relative;
  height: 5px;
  width: 100%;
  overflow: hidden;
}

.dailyGameProgress__inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #d4180a;
  transition: width 0.5s;
}

.dailyGameCountdownAnimated {
  display: flex;
  justify-content: center;
  height: 100%;
}

.dailyGameCountdownAnimated__element {
  font-size: 42px;
}

.dailyGameTeam {
  display: flex;
  flex-direction: column;
}

.dailyGameTeam li {
  margin-right: 1px;
}
/* .dailyGameTeam li:after {
  display: inline-block;
  content: ',';
  width: 5px;
  height: auto;
  margin-right: 5px;
}

.dailyGameTeam li:last-child:after {content: '';} */

.dailyGameTeam__selector {
  display: flex;
  align-self: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}
.dailyGameTeam__selector input[type="checkbox"] {
  padding: 0;
  margin: 0;
}

.dailyGameTeam_append {
  align-self: center;
  font-size: 16px;
}

.dailyGameTeamWrestlers {
  display: flex;
  margin: 0;
  padding: 0.2em 0 0 0;
  list-style: none;
}
.dailyGameTeamWrestlers li:first-child {
  padding-left: 15px;
}

.dailyGameTeamWrestlers li:after  {
  display: inline-block;
  content: ',';
  margin-left: -3px;
  height: auto;
  margin-right: 3px;
}


.dailyGameTeamWrestlers li:last-of-type:after {content:'';opacity:0;}

.dailyGameTeamWrestlers:hover,
.dailyGameTeam__checked .dailyGameTeam__selector {
  color: #d4180a;
}

.slide-left-enter-active, .slide-left-leave-active {
  transition: transform 0.5s;
}

.slide-left-enter {
  transform: translateX(100%);
}

.slide-left-enter-to, .slide-left-leave {
  transform: translateX(0);
}

.slide-left-leave-to {
  transform: translateX(-100%);
}

.slide-top-enter-active, .slide-top-leave-active {
  transition: transform 0.5s;
}

.slide-top-enter {
  transform: translateY(100%);
}

.slide-top-enter-to, .slide-top-leave {
  transform: translateY(0);
}

.slide-top-leave-to {
  transform: translateY(-100%);
}

